doctype html
html
  head
  body
    header
      link(href='https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/dog.css')
    .dog-bgSizeCover
      div
        textarea.dogfullpw.font-dogtsizepw.dogtitlepw.dogfontpw(inputmode='tel') #{title}
      div
        textarea.dogfullpw.font-dogcsizepw.dogcomentpw.dogfontpw #{content}
