extends layout

block content
  .wrapper
    .content
      .card(data-status='done', data-person-from='김영근', data-person-to='박원종', data-tx='0x1231815293719823')
        .left_icons
          i.material-icons.w3-xxlarge.left_icons done
        p Transaction : 0x1231815293719823
        .Person
          span.name 김영근
          i.material-icons
            | arrow_forward
          span.name 박원종
      .card(data-status='cancel', data-person-from='김영근', data-person-to='박원종', data-tx='0x1231815293719823')
        .left_icons
          i.material-icons.w3-xxlarge.left_icons clear
        p Transaction : 0x1231815293719823
        .Person
          span.name 김영근
          i.material-icons
            | arrow_forward
          span.name 박원종
      .card(data-status='spending', data-person-from='김영근', data-person-to='박원종', data-tx='0x1231815293719823')
        .left_icons
          i.material-icons.w3-xxlarge.w3-spin  autorenew
        p Transaction : 0x1231815293719823
        .Person
          span.name 김영근
          i.material-icons
            | arrow_forward
          span.name 박원종
      .w3-container.w3-margin-bottom(data-status='spending', data-person='박원종',data-content='CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.' )
        .w3-card-4
          header.w3-container.w3-light-grey
            h3 John Doe
          .w3-container
            hr
            i.material-icons.w3-xxlarge.w3-spin.w3-left.w3-margin-right autorenew
            p
              | CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.
            br
          button#next.w3-button.w3-green + Connect
          button#fail.w3-button.w3-red.w3-right -fail
      .w3-container.w3-margin-bottom(data-status='cancel', data-person='박원종',data-content='CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.' )
        .w3-card-4
          header.w3-container.w3-light-grey
            h3 John Doe
          .w3-container
            hr
            i.material-icons.w3-xxlarge.w3-left.w3-margin-right clear
            p
              | CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.
            br
          button#next.w3-button.w3-green + Connect
          button#fail.w3-button.w3-red.w3-right -fail
      .w3-container.w3-margin-bottom(data-status='done', data-person='박원종',data-content='CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.' )
        .w3-card-4
          header.w3-container.w3-light-grey
            h3 John Doe
          .w3-container
            hr
            i.material-icons.w3-xxlarge.w3-left.w3-margin-right done
            p
              | CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.
            br
          button#next.w3-button.w3-green + Connect
          button#fail.w3-button.w3-red.w3-right -fail
  script(src='/javascripts/index.js')