doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body
    .title
      button#testButton 이것은 버튼임당
      h1 약속
      .righter
        .input_wrapper
          input(type='text item')
          i.material-icons.item search
        .a_wrapper
          a(href='') 로그인
        .a_wrapper
          a(href='') 회원가입
    .navbar
      .navbar_wrapper
        .nav_item
          a(href='') 완료
        .nav_item
          a(href='') 이행중
        .nav_item
          a(href='') 대기중
        .nav_item
          a(href='') 깨진
    block content
