doctype html
html
  head
  body
    header
      link(href='https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/pumkin.css')
    .pu-bgSizeCover
      div
        textarea.fullpw.font-pumtsizepw.pumtitlepw.pumfontpw(inputmode='tel') #{title}
      div
        textarea.fullpw.font-pumcsizepw.pumcomentpw.pumfontpw #{content}
