doctype html
html
  head
  body
    header
      link(href='https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/snow.css')
    .sn-bgSizeCover
      div
        textarea.fullsnowpw.snfontpw.sntitlepw.font-sntsizepw(inputmode='tel') #{title}
      div
        textarea.fullsnowpw.sncomentpw.snfontpw.font-sncsizepw #{content}
